    <main class="vh100">

    <div class="ui centered card">
        <div class="content">
            <h3>Kirsh</h3>
        </div>

        <!-- Login Form -->
        <div class="content">
            <form action="/login" method="post" class="ui form">
                <div class="field">
                    <label>Foydalanuvchi ismi</label>
                    <input type="text" name="username" placeholder="johndoe">
                </div>
                <div class="field">
                    <label>Parol</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button class="ui primary fluid button" type="submit">Kirish</button>
            </form>
        </div>
    </div>

</main>