
    <main>
    <div class="ui centered card">
        <div class="content">
            <h3>Akkaunt yaratish</h3>
        </div>

        <!-- Login Form -->
        <div class="content">
            <form action="/register" method="post" class="ui form">
                <div class="field">
                    <label>Ismingiz</label>
                    <input type="text" name="name" placeholder="John">
                </div>
                <div class="field">
                    <label>Guruh</label>
                    <input type="text" name="group" placeholder="Group">
                </div>
                <div class="field">
                    <label>Foydalanuvchi ismi</label>
                    <input type="text" name="username" placeholder="johndoe">
                </div>
                <div class="field">
                    <label>Parol</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                    <label>Parolni tasqilang</label>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password">
                </div>
                <div class="field">
                    <label>Telefon raqam</label>
                    <input type="text" name="phone" placeholder="+998 ">
                </div>
                <button class="ui primary fluid button" type="submit">Yaratish</button>
            </form>
        </div>
    </div>
    </main>